elasticsearch:
  major_version: 5
  config:
    cluster.name: salt-test
    node.name: {{ grains['host'] }}
    path.data: /disk1/elasticsearch/data
    path.logs: /disk1/elasticsearch/logs
    bootstrap.mlockall: true
    network.host: 0.0.0.0
    http.port: 9200
  sysconfig:
    ES_STARTUP_SLEEP_TIME: 5
    MAX_OPEN_FILES: 65535
  jvm_options:
    - -Xms256m
    - -Xmx256m
  plugins:
    # https://www.elastic.co/blog/running-site-plugins-with-elasticsearch-5-0
    discovery-ec2: discovery-ec2
